<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
    integrity="sha384-v8BU367qNbs/aIZIxuivaU55N5GPF89WBerHoGA4QTcbUjYiLQtKdrfXnqAcXyTv" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700i|Rouge+Script&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>Kanban</title>
</head>

<body>
  <div id="kanban">
    <!-- Modal ADD -->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" v-on:submit.prevent="addTask">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" v-model="form.title">
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" name="description" v-model="form.description">
              </div>
              <button type="submit" class="btn btn-dark">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal UPDATE -->
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Update Task </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" v-on:submit.prevent="updateTask">
              <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" name="title" v-model="activeRow.title">
              </div>
              <div class="form-group">
                <label for="description">Description</label>
                <input type="text" class="form-control" name="description" v-model="activeRow.description">
              </div>
              <div class="form-group">
                <label for="status">Status</label>
                <select class="form-control" id="status-kanban" v-model="activeRow.status">
                  <option value="backlog">Backlog</option>
                  <option value="todo">Todo</option>
                  <option value="done">Done</option>
                  <option value="complete">Complete</option>
                </select>
              </div>
              <button type="submit" class="btn btn-success">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container-kanban">
      <div class="sidebar-kanban">
        <div class="text-kanban">
          <h1>KANBAN</h1>
          <p>Project management tool designed to help visualize work and maximize efficiency.
          </p>
          <a href=""><i class="fas fa-magic"></i>Create new Board!</a>
        </div>
      </div>

      <div class="board">
        <div class="category">
          <div class="title">
            <h4>Backlog</h4>
          </div>
          <div class="all-cards">
            <div class="all-task" v-for="(list,index) in lists">
              <div class="task" v-if="list.status === 'backlog'">
                <p>{{ list.title}}</p>
                <article>{{list.description}}</article>
                <div class="action">
                  <i class="fas fa-edit" data-toggle="modal" data-target="#updateModal" v-on:click="getId(index)"></i>
                  <i class="fas fa-trash" v-on:click="deleteTask(list.id)"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="footer">
            <h4 data-toggle="modal" data-target="#addModal" v-on:click="getCategory('backlog')"><i class="fas fa-plus"
                data-toggle="modal" data-target="#addModal" v-on:click="getCategory('backlog')"></i>Add Task</h4>
          </div>
        </div>

        <div class="category">
          <div class="title">
            <h4>Todo</h4>
          </div>
          <div class="all-cards">
            <div class="all-task" v-for="(list, index) in lists">
              <div class="task" v-if="list.status === 'todo'">
                <p>{{list.title}}</p>
                <article>{{list.description}}</article>
                <div class="action">
                  <i class="fas fa-edit" data-toggle="modal" data-target="#updateModal" v-on:click="getId(index)"></i>
                  <i class="fas fa-trash" v-on:click="deleteTask(list.id)"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="footer">
            <h4 data-toggle="modal" data-target="#addModal" v-on:click="getCategory('todo')"><i class="fas fa-plus"
                data-toggle="modal" data-target="#addModal" v-on:click="getCategory('todo')"></i>Add Task</h4>
          </div>
        </div>

        <div class="category">
          <div class="title">
            <h4>Done</h4>
          </div>
          <div class="all-cards">
            <div class="all-task" v-for="list in lists">
              <div class="task" v-if="list.status === 'done'">
                <p>{{list.title}}</p>
                <article>{{list.description}}</article>
                <div class="action">
                  <i class="fas fa-edit"></i>
                  <i class="fas fa-trash" v-on:click="deleteTask(list.id)"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="footer">
            <h4 data-toggle="modal" data-target="#addModal" v-on:click="getCategory('done')"><i class="fas fa-plus"
                data-toggle="modal" data-target="#addModal" v-on:click="getCategory('done')"></i>Add Task</h4>
          </div>
        </div>

        <div class="category">
          <div class="title">
            <h4>Complete</h4>
          </div>
          <div class="all-cards">
            <div class="all-task" v-for="list in lists">
              <div class="task" v-if="list.status === 'complete'">
                <p>{{list.title}}</p>
                <article>{{list.description}}</article>
                <div class="action">
                  <i class="fas fa-edit"></i>
                  <i class="fas fa-trash" v-on:click="deleteTask(list.id)"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="footer">
            <h4 data-toggle="modal" data-target="#addModal" v-on:click="getCategory('complete')"><i class="fas fa-plus"
                data-toggle="modal" data-target="#addModal" v-on:click="getCategory('complete')"></i>Add Task</h4>
          </div>
        </div>
      </div>
    </div>

  </div>


</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="script.js"></script>

</html>