@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Ubuntu|Courgette);
@import url(http://weloveiconfonts.com/api/?family=entypo);
* {
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
}

#homePage {
  background-image: url("../img/kanban-bg.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
}

.navbar {
  opacity: 0.7;
  height: 100%;
}

.category-bar {
  font-size: 22px;
}

.container-head {
  height: 8vh;
}

.container-body {
  height: 92vh;
}

.card-container {
  width: 20rem;
  margin: 0.4em;
  background-color: #aa7531;
  padding: 0.4em;
  border-radius: 0.5em;
}

.card {
  width: 18rem;
  margin-bottom: 0.5em;
  margin-right: 17px;
}

.card-email {
  margin-bottom: 5px;
  font-size: 11px;
}

.card-body {
  width: 18rem;
  padding: 5px !important;
  margin-bottom: 0px !important;
}

.scroll {
  overflow: auto;
  overflow-x: hidden;
  max-height: 75vh;
}

.card-column {
  height: 100%;
}

.input-card {
  width: 250px;
  margin-top: 0.2em;
  background-color: #c28043;
  border: none;
}

.input-card:hover {
  background-color: white;
}

#loginPage {
  background: url(https://subtlepatterns.com/patterns/tweed.png);
  height: 100vh;
}

.loginpanel {
  background-color: #DDD;
}

.loginBtn {
  width: 100px;
  background-color: #79ec4b;
}

.loginBtn:hover {
  background-color: #2bf82b;
}

.nextBtn, .backBtn {
  border: none;
  width: 20px;
}

.nextBtn:hover {
  background-color: #2bf82b;
}

.backBtn:hover {
  background-color: #ecf847;
}

.deleteBtn {
  cursor: pointer;
  width: 20px;
  border: 1px solid black;
}

.deleteBtn:hover {
  background-color: #f52d2d;
}

[class*=entypo-]:before {
  font-family: "entypo", sans-serif;
}

* {
  font-family: "Ubuntu", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

div.loginpanel {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: fade(#DDD, 60%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 5px 1px #333;
  -moz-box-shadow: 0 0 5px 1px #333;
  box-shadow: 0 0 5px 1px #333;
}
div.loginpanel a.register {
  color: #444;
  text-decoration: none;
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}
div.loginpanel a.register:before {
  padding-right: 6px;
}
div.loginpanel a.register:hover {
  color: #2ecc71;
  text-shadow: 0 1px #555;
}
div.loginpanel a.register:active {
  text-shadow: 0 -1px #555;
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
}
div.loginpanel input {
  width: 100%;
  margin: 8px 0px;
  padding: 12px;
}
div.loginpanel div.txt {
  position: relative;
}
div.loginpanel div.txt input[type=text], div.loginpanel div.txt input[type=password], div.loginpanel div.txt input[type=email] {
  color: #555;
  text-shadow: 0 1px #FFF;
  padding: 12px 12px 12px 45px;
  border: 1px solid #888;
  border: 2px solid transparent;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  background-color: fade(#FFF, 80%);
}
div.loginpanel div.txt input[type=text]:hover, div.loginpanel div.txt input[type=text]:focus, div.loginpanel div.txt input[type=password]:hover, div.loginpanel div.txt input[type=password]:focus, div.loginpanel div.txt input[type=email]:hover, div.loginpanel div.txt input[type=email]:focus {
  background-color: #FFF;
}
div.loginpanel div.txt input[type=text]:focus, div.loginpanel div.txt input[type=password]:focus, div.loginpanel div.txt input[type=email]:focus {
  border-color: #27ae60;
}
div.loginpanel div.txt label {
  cursor: text;
}
div.loginpanel div.txt label:before {
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 0px;
  font-family: "entypo", sans-serif;
  font-size: 1.1em;
  color: #2ecc71;
  line-height: 58px;
  text-align: center;
  width: 50px;
  height: 50px;
}
div.loginpanel div.buttons {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
div.loginpanel div.buttons input {
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
  width: 100%;
}
div.loginpanel div.buttons span a {
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
  line-height: 70px;
  text-align: center;
}
div.loginpanel input[type=button] {
  cursor: pointer;
  color: #FFF;
  text-shadow: 0 1px #27ae60;
  font-size: 1.2em;
  border: 0 none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  outline: none;
  background-color: #2ecc71;
  -webkit-box-shadow: 0 2px #27ae60, inset 0 0 #27ae60;
  -moz-box-shadow: 0 2px #27ae60, inset 0 0 #27ae60;
  box-shadow: 0 2px #27ae60, inset 0 0 #27ae60;
}
div.loginpanel input[type=button]:hover, div.loginpanel input[type=button]:focus {
  background-color: #29b765;
  -webkit-box-shadow: 0 2px #229955, inset 0 0 #27ae60;
  -moz-box-shadow: 0 2px #229955, inset 0 0 #27ae60;
  box-shadow: 0 2px #229955, inset 0 0 #27ae60;
}
div.loginpanel input[type=button]:active {
  -webkit-box-shadow: 0 0 #229955, inset 0 1px #229955;
  -moz-box-shadow: 0 0 #229955, inset 0 1px #229955;
  box-shadow: 0 0 #229955, inset 0 1px #229955;
  -webkit-transform: translateY(2px);
  -moz-transform: translateY(2px);
  -ms-transform: translateY(2px);
  -o-transform: translateY(2px);
  transform: translateY(2px);
  transition: all 0s;
}
div.loginpanel div.social {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 10px;
}
div.loginpanel div.social a {
  display: inline-block;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
  text-align: center;
  text-decoration: none;
  outline: none;
}
div.loginpanel div.social a:before {
  display: inline-block;
  padding: 0;
  font-family: "entypo", sans-serif;
  font-size: 2em;
  color: #444;
  line-height: 50px;
  text-align: center;
  text-shadow: 0 1px fade(#FFF, 40%);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
div.loginpanel div.social a:hover:before, div.loginpanel div.social a:focus:before {
  color: #FFF;
  -webkit-transition: all 0.2s ease-out, box-shadow 0.3s ease-out 0.1s;
  -moz-transition: all 0.2s ease-out, box-shadow 0.3s ease-out 0.1s;
  -ms-transition: all 0.2s ease-out, box-shadow 0.3s ease-out 0.1s;
  -o-transition: all 0.2s ease-out, box-shadow 0.3s ease-out 0.1s;
  transition: all 0.2s ease-out, box-shadow 0.3s ease-out 0.1s;
}
div.loginpanel div.social a:active:before {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}
div.loginpanel div.social a.facebook:before {
  content: "";
}
div.loginpanel div.social a.facebook:hover:before, div.loginpanel div.social a.facebook:focus:before {
  text-shadow: 0 1px #1e2e4f;
  background-color: #3b5998;
  -webkit-box-shadow: 0 0 0 4px fade(#3b5998, 60%);
  -moz-box-shadow: 0 0 0 4px fade(#3b5998, 60%);
  box-shadow: 0 0 0 4px fade(#3b5998, 60%);
}
div.loginpanel div.social a.facebook:active:before {
  -webkit-box-shadow: 0 0 0 4px fade(#3b5998, 60%), 0 0 0 4px #333, 0 1px 0 4px fade(#FFF, 60%);
  -moz-box-shadow: 0 0 0 4px fade(#3b5998, 60%), 0 0 0 4px #333, 0 1px 0 4px fade(#FFF, 60%);
  box-shadow: 0 0 0 4px fade(#3b5998, 60%), 0 0 0 4px #333, 0 1px 0 4px fade(#FFF, 60%);
}
div.loginpanel div.social a.twitter:before {
  content: "";
}
div.loginpanel div.social a.twitter:hover:before, div.loginpanel div.social a.twitter:focus:before {
  text-shadow: 0 1px #1385cc;
  background-color: #56b4ef;
  -webkit-box-shadow: 0 0 0 4px fade(#56b4ef, 60%);
  -moz-box-shadow: 0 0 0 4px fade(#56b4ef, 60%);
  box-shadow: 0 0 0 4px fade(#279feb, 60%);
}
div.loginpanel div.social a.twitter:active:before {
  -webkit-box-shadow: 0 0 0 4px fade(#56b4ef, 60%), 0 0 0 4px #333, 0 1px 0 4px fade(#FFF, 60%);
  -moz-box-shadow: 0 0 0 4px fade(#56b4ef, 60%), 0 0 0 4px #333, 0 1px 0 4px fade(#FFF, 60%);
  box-shadow: 0 0 0 4px fade(#56b4ef, 60%), 0 0 0 4px #333, 0 1px 0 4px fade(#FFF, 60%);
}
div.loginpanel div.social a.googleplus:before {
  content: "";
}
div.loginpanel div.social a.googleplus:hover:before, div.loginpanel div.social a.googleplus:focus:before {
  text-shadow: 0 1px #96271a;
  background-color: #dd4b39;
  -webkit-box-shadow: 0 0 0 4px fade(#dd4b39, 60%);
  -moz-box-shadow: 0 0 0 4px fade(#dd4b39, 60%);
  box-shadow: 0 0 0 4px fade(#dd4b39, 60%);
}
div.loginpanel div.social a.googleplus:active:before {
  -webkit-box-shadow: 0 0 0 4px fade(#dd4b39, 60%), 0 0 0 4px #333, 0 1px 0 4px fade(#FFF, 60%);
  -moz-box-shadow: 0 0 0 4px fade(#dd4b39, 60%), 0 0 0 4px #333, 0 1px 0 4px fade(#FFF, 60%);
  box-shadow: 0 0 0 4px fade(#dd4b39, 60%), 0 0 0 4px #333, 0 1px 0 4px fade(#FFF, 60%);
}
div.loginpanel div.hr {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  margin: 40px 0;
  color: #555;
  text-shadow: 0 1px fade(#FFF, 40%);
}
div.loginpanel div.hr div {
  font-family: "Courgette", cursive;
  font-size: 1.2em;
}
div.loginpanel div.hr div:first-child, div.loginpanel div.hr div:last-child {
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
  position: relative;
}
div.loginpanel div.hr div:first-child:before, div.loginpanel div.hr div:last-child:before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  height: 1px;
  background-color: #5F5F5F;
  -webkit-box-shadow: 0 1px 0 fade(#FFF, 20%);
  -moz-box-shadow: 0 1px 0 fade(#FFF, 20%);
  box-shadow: 0 1px 0 fade(#FFF, 20%);
}
div.loginpanel div.hr div:first-child {
  margin-right: 20px;
}
div.loginpanel div.hr div:last-child {
  margin-left: 20px;
}

.resp-info:before {
  content: "full";
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: #F00;
}

@media only screen and (max-width: 555px) {
  div.loginpanel {
    width: 90%;
  }
  div.loginpanel div.buttons {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
  }
  div.loginpanel div.buttons span {
    width: 100%;
  }
  div.loginpanel div.buttons span a {
    width: 100%;
    line-height: 40px;
  }

  .resp-info:before {
    content: "max 555";
  }
}
@media only screen and (max-width: 400px) {
  div.loginpanel {
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
  }

  .resp-info:before {
    content: "max 400";
  }
}

/*# sourceMappingURL=main.css.map */
