*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h3{
letter-spacing: 21pxpx;
font-weight: normal;
}

body{
  background-color:#f8f8fed7 ;
  background-image: url('/asset/img/undraw_open_source_1qxw.svg');
  background-repeat: no-repeat;
  background-size:auto;
  background-position-x: right;
  background-position-y: bottom;
}

#navbar{
  display: flex;
  justify-content: space-between;
  vertical-align: middle;
  width: 100%;
  background-color: #f8f8fe;
  height: 4em;    
  padding: 0.5em 5em;
  align-items: center;
  
  -webkit-box-shadow: -8px 24px 20px -24px rgba(140,137,140,1);
-moz-box-shadow: -8px 24px 20px -24px rgba(140,137,140,1);
box-shadow: -8px 24px 20px -24px rgba(140,137,140,1)
}

.containerBoard{  
  padding: 3em 5em;
  /* height: 90vh;   */
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.boardKanban{
  overflow-y: scroll;
  max-height: 80vh;

width: 20em;
/* height: 100%; */
border-radius: 0.9em;
background-color: #ecedfc;
padding: 2em 2em;
margin-bottom: 2em;
}

.titleBoxKanban{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}

.cardInnerKanban{  
  height:200px;
  border-radius: 0.6em;
  margin-bottom: 1em;
  padding: 1em;
  /* webkit-box-shadow: -6px 1px 50px -30px rgba(140,137,140,1); */
-moz-box-shadow: -6px 1px 50px -30px rgba(140,137,140,1);
box-shadow: -6px 1px 50px -30px rgba(140,137,140,1);
}

.description{
  margin-top: 1em;
}

.btnCard{  
  
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top:4em;
  margin-bottom: 0px;
  font-size: 0.9em;
}

#EditTitleAndDescription{
  display: flex;
  justify-content: space-between;
}

#editBtnAll{
  font-weight: 100;
  font-size: 0.8em;
  
  border-top: 2px solid #daddfa;
  color:#daddfa;
  
}
#editBtnAll:hover{
  /* border-bottom: 2px solid #1b37da; */
  border-top: 2px solid #1b37da;
  color:#1b37da;
  /* padding: 0; */
}

#btnEditCard, #btnDeleteCard{
  border-radius: 1em ;  
  text-align: center;
  width: 5em;
  color: white;
  background-color: #1b37da;  
cursor: pointer;
}




#btnEditCard:hover, #btnDeleteCard:hover{
  background-color: #daddfa;
  color: #1b37da;
}
.btnAddTask{
  font-weight: bold;
  text-decoration: none;
  border: none;
  padding: 1em 1em;
  text-align: right;
font-weight: 100;
height: 3em;
font-size: 1em;
letter-spacing: 2.5px;
width: 100%;
border-radius: 0.6em;
background-color: #daddfa ;
color: #1b37da;
vertical-align: middle;
line-height: normal;
/* cursor: pointer; */
}
.btnAddTask:hover{
  background-color: #c9cce6;  
}

#createBtn, #userLoginRegister{
  
  cursor: pointer;  
  letter-spacing: 1px;
  width: 10em;
  height: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
 color: white;
 border: none;
 outline: none;
 font-size: 0.8em;
 font-weight: normal;
 overflow: hidden;
 position: relative;
 border-radius: 5px;
 letter-spacing: 2px;
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); 
 background-color: #1b37da;
 -webkit-transition: all 0.2s ease-in;
 -moz-transition: all 0.2s ease-in;
 -ms-transition: all 0.2s ease-in;
 -o-transition: all 0.2s ease-in;
 transition: all 0.2s ease-in;
}


 #userLoginRegister:hover {
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#login, #register{
  cursor: pointer;
}


#loginRegis{
  display: flex;
  justify-content: center;
  padding: 5em;
}


/* 
main color background : #f8f8fe
box outer kanban background : #ecedfc
box inner kanban backgroud : ##E5E6FB
box color innner 2nd :#daddfa
button main color : #1231e3
*/